body{
    margin: 0;
}
.featureBtn{
    background-color: white;
    position:relative;
    left:120px
}
.btn{
    display:block;
    width:700px;
    height:100px;
    margin:auto;
    border-color:black;
    border-style: solid;
    background-color: white;
}
div{
    position:relative;
    left:120px;
    top:30px;
    overflow-y: auto;
    height: 500px;
    width: 725px;
    border-color:black;
    border-style:solid;
    background-color: white;
}
h1{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    border-style: solid;
}
section{
    position:absolute;
    left:1000px;
    top:190px;
    height: 500px;
    width: 725px;
    border-color:black;
    border-style:solid;
    background-color: white;
    padding:20px;
}
